@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	@apply bg-neutral-500;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

a.active {
	@apply rounded-lg bg-secondary-50;
}